* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  &.bg-gray {
    background-color: #f0f0f0;
  }
}

form,
.card,
#register {
  width: 480px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  margin-bottom: 10px;
  display: block;
  width: 100%;
  height: 35px;
  padding: 10px;
}

button {
  background: crimson;
  height: 40px;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1rem;
  width: 100%;
}

.card {
  background: #fff;
  border-radius: 10px;
  padding: 25px;
  margin-bottom: 20px;
}

.card-information {
  text-align: center;
}

.card-information h3 {
  font-size: 0.9rem;
  color: cornflowerblue;
}

.card-information img {
  border-radius: 50%;
}

.card-actions {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

#updateProfile,
#changeAvatar,
#register {
  display: none;
}

#avatar {
  cursor: pointer;
}

#showRegister,
#hideRegister {
  margin-top: 10px;
  display: block;
}